{% extends "layout.html" %}

{% block heading %}
    <!-- First Page -->
{% endblock %}

{% block body %}
<form role="form" action="{{ url_for('orders') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.price.label }}
        {{ form.price(size=10) }}
        {{ form.submit(class="btn btn-primary") }}
    </div>
    <div class="form-group">
        {{ form.mclass(onchange="mclass_change(this)") }}
        {{ form.mclass.label }}
        <div id="classDiv" style="display: none;">
            <small>每个类别的标签单独一行, 标签之间用空格隔开</small>
            {{ form.classtxt(class="form-control", rows=4, placeholder="类别标签...") }}
        </div>
    </div>
    <div class="form-group">
        {{ form.ordertxt.label }}
        {{ form.ordertxt(class="form-control", rows=25, placeholder="Enter Your Text") }}
    </div>
</form>



<!-- 测试访问静态文件 -->
<!-- <img src="{{ url_for('static', filename='img/sunyang.jpg') }}" /> -->
<script>
    function mclass_change(obj){
        var classDiv = document.getElementById('classDiv');
        var classtxt = document.getElementById('classtxt');
        if (obj.checked){
            classDiv.style.display='block'
            classtxt.required = true
        } else {
            classDiv.style.display='none'
            classtxt.required = false
        }
    }
</script>

{% endblock %}
